---
---

<nav id="navbar">
  <!-- If you have a logo image, use: -->
  <!-- <img src="/images/logo.png" alt="Studio Logo" class="nav-logo" /> -->
  <span class="nav-logo-text">Sammy Sews</span>
  <ul class="nav-links">
    <li><a href="#about">About</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#gallery">Gallery</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
