---
---

<!--
  Use your close-up fabric/texture photos here.
  Recommended: 3 tight detail shots of fabric, stitching, or patterns.
-->
<div class="texture-strip">
  <div class="texture-strip-item">
    <img src="/images/texture-1.jpg" alt="Fabric texture"
      onerror="this.outerHTML='<div class=\'texture-strip-placeholder\'></div>'" />
  </div>
  <div class="texture-strip-item">
    <img src="/images/texture-2.jpg" alt="Close-up stitching"
      onerror="this.outerHTML='<div class=\'texture-strip-placeholder\'></div>'" />
  </div>
  <div class="texture-strip-item">
    <img src="/images/texture-3.jpg" alt="Fabric detail"
      onerror="this.outerHTML='<div class=\'texture-strip-placeholder\'></div>'" />
  </div>
</div>
